<input type="text" value=@toVisualize/>
<label>Word length: <input type="number" value=@wordLength min=3/></label>
<button @onclick=Visualize>Generate</button>
<svg width="100%" height="90%" viewBox="-100 0 200 200" xmlns="http://www.w3.org/2000/svg" style="background-color: #222;">
    <rect x="-5" y="5" width="20" height="20" fill="white" stroke-width="2" stroke="black" />
    <text x="-5" y="15" font-family="Verdana" font-size="35">B</text>
</svg>

@code {
    private string toVisualize = "";
    private int wordLength = 5;

    private void Visualize()
    {
        BTree<char> bTree = new BTree<char>(wordLength);
        foreach (char c in toVisualize)
        {
            bTree.Add(c);
        }

        List<List<char[]>> tree = bTree.ToList();

        for (var i = 0; i < tree.Count; i++)
        {
            for (var j = 0; j < tree[i].Count; j++)
            {
                tree[i][j]
            }
        }
        //sb.Append("<rect x=\" - 5\" y=\"5\" width=\"20\" height=\"20\" fill=\"white\" stroke-width=\"2\" stroke=\"black\" />");
        //sb.Append("<text x=\" - 5\" y=\"15\" font-family=\"Verdana\" font-size=\"35\">B</text>");
    }
}