@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="height: 100%; position: relative">
            @Body
        </article>
    </main>
</div>
