.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

    .navbar-brand::after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        pointer-events: none;
        width: 2rem;
        height: 100%;
        background-image: linear-gradient(to right, rgba(255,255,255, 0), rgb(4, 23, 61) 80%);
    }

.oi {
    width: 2rem;
    min-width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.oi-svg {
    width: 2rem;
    margin-right: 0.5rem;
    margin-left: -.5rem;
    filter: invert(100%) sepia(84%) saturate(2%) hue-rotate(179deg) brightness(110%) contrast(101%);
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        white-space: nowrap;
        overflow: clip;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}